.container {
  width: 700px;
  margin: 0 auto;
}
.satu, .dua {
  /* border: solid; */
  width: 200px;
  height: 200px;
  margin-top: 100px;
}
.satu {
  background-color: green;
  border-style: solid;
  border-image-source: url("img/hearts.png");
  border-image-slice: 22;
  border-image-width: 30px;
  border-image-repeat: round ;
  border-image-outset: 30px;
  box-shadow: 30px 30px black;

}
.dua {
  background-color: blue;
  border-style: solid;
  border-image-source: url("img/border1.png");
  border-image-slice: 33;
  border-image-width: 30px;
  border-image-repeat: round;
  border-image-outset: 20px;
  box-shadow: 10px 10px 10px black;
}
